nav {
    background-color: #da5f27;
    border-radius: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    position: absolute;
    left: 0px; 
    right: 1px;
    z-index: 999; 
}

ul {
    list-style-type: none;
    align-items: center;
    display: flex; /* Use flexbox to align items horizontally */
    padding-top: 15px;
    font-size: large;
    font-weight: bolder;
}

/* li {
    margin-right: 10px;
} */

a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}


ul ul {
    display: none;
    position: absolute;
    background-color: #0f0b0b;
    padding: 0;
}

ul li:hover > ul {
    display: inherit;
}

ul ul li {
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
}

ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}



#LogoutMsg{
    color: rgb(72, 219, 116);
    border-radius: 6px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    margin-left: 450px;
    width: 200px;
    font-weight: bold;
}