<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Memory Card Game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/wwwroot/css/Index.css" />

</head>
<body style="background-image: url('/images/game.png');">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>


