@page
@* @{
    ViewData["Title"] = "Play";
    Layout = "_Layout";
} *@



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/css/Play.css"/>

</head>
<body>
    <nav>
    <ul>
        <li><a href="#" onclick="QuitGame()">Quit Game</a>
    </ul>
</nav>
    <div id="pointCounter">Points : <p id="Points"> 0 </p></div>

    <div id="gameBoard">
    </div>
        <script src="/js/Play.js"></script>
</body>
</html>